body {
  margin: 0;
  background: url("https://cdn.jsdelivr.net/gh/medo108/agricbook@refs/heads/medo1/images/ChatGPT%20Image%2028%20%D9%85%D8%A7%D9%8A%D9%88%202025%D8%8C%2011_55_48%20%D8%B5.webp");
  background-size: contain;
  /* overflow: hidden; */
  font-family: "Noto Sans Arabic", sans-serif;
  border: 8px green groove;
  border-radius: 20px;
  background-size: 100% 100%; /* ستريتش الصورة */
}
.big{
  width: 350px;
  height: 100px;
  background: linear-gradient(45deg, #C4CAD0, #878C8F);
  border: 5px #A4969B ridge;
  box-shadow: inset 0px 0px 20px 7px black,  0px 5px 19px 1px black;
  
  margin: auto;
  margin-top: 80px;
  border-radius: 50px;
  color: #40531B;
  display: flex;
  justify-content: center;
  align-items: center;

}
.bookname{
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
  color: #40531B; /* لون النص */
  text-shadow:
    0 0 5px #40531B,
    0 0 10px #a1e912;
    user-select: none;

}

.addemail{
  margin-left: 25%;
  margin-right: 25%;
  display: flex;
  justify-content: center;
  align-items:center ;
  text-decoration: none;
  background: linear-gradient(45deg , #BCB8B1, #F4F3EE);
  border-radius: 50px;
  z-index: 100;
  position: relative;
  z-index: 100;
  border: 5px #463F3A groove;
  box-shadow:  0px 5px 19px 1px black;
  transition: all 0.4s ease;
  margin-bottom: 40px;
  gap: 10px;


  


  
}
.addemail h2{
  color: rgb(70, 61, 55);
  animation: glow 1.6s ease-in-out infinite alternate;
  text-shadow:
    0 0 5px rgb(70, 61, 55),
    0 0 10px #ffb347,
    0 0 80px #ffe0b2;
    user-select: none;

}

.addemail:hover{
  transform: scale(1.2);
  background: linear-gradient(45deg, #F4F3EE,#E0AFA0);

}
.addemail:active{
    box-shadow: inset 0px 5px 19px 1px black, 0px 5px 19px 1px black ;


}
::-webkit-scrollbar{
  display: none;
}
.smallimage{
  background: url("https://cdn.jsdelivr.net/gh/medo108/agricbook@md3/images/5dc1c636-0a31-4add-984c-2cca4bfe0e68-removebg-preview.png?raw=true");
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-size: contain;
}
.smallimage1{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
@media screen and (max-width: 960px){
  .circle,
  .explosion,
  .star{
    display: none;
  }
  
}
@media screen and (max-width: 480px){
  .big{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    font-size: 14px;
    

  }
  .addemail{
    margin-left: 10%;
    margin-right: 10%;
    
  }
}
@media screen and (max-width: 350px){
  .big{
    margin-left: 8%;
    margin-right: 8%;
    width: 84%;
    font-size: 12px;
    

  }
  .addemail{
    margin-left: 8%;
    margin-right: 8%;

  }
  .addemail:hover{
    transform: scale(1.09);
  }
}
